<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ShopsMapper">
    <select id="selectByStatus" resultType="com.example.entity.Shops">
        select id, name, owner_name, status
        from shop where status=#{status}
    </select>
    <select id="rejectedList" resultType="com.example.entity.Shops">
        select id, name, owner_name, status
        from shop where status=#{status}
    </select>
    <update id="updateStatus" parameterType="com.example.entity.Shops">
        update shop set status=#{status},audit_time=NOW() where id=#{id};
    </update>
    <update id="updateRejectReason" parameterType="com.example.entity.Shops">
        update shop set reject_reason=#{reason} where id=#{id};
    </update>

</mapper>